@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

@layer base {
    :root {
        --maktabati-background-body: #ffffff;
        --maktabati-background-overlay_color: rgba(243, 244, 246, 0.7);
        --maktabati-text-title: #170F49;
        --maktabati-text-normal_text: #6F6C90;
        --maktabati-text-description: #6F6C90;
        --maktabati-text-invalid_color: #ef4444;
        --maktabati-text-success_color: #22c55e;
        --maktabati-logo-primary: #0D9488;
        --maktabati-logo-secondary: #170F49;
        --maktabati-logo-neutral: #000000;
        --maktabati-border-border_color: #e5e7eb;
        --maktabati-components-progress-progress_bar_color: #0D9488;
        --maktabati-components-progress-progress_bg_active_color: #170F49;
        --maktabati-components-progress-progress_bg_default_color: #d1d5db;
        --maktabati-components-film_roll_rectangle-bg_color: #f3f4f6;
        --maktabati-components-film_roll_rectangle-shadow_color: #e5e7eb;
        --maktabati-components-button-solid-default-text_color: #ffffff;
        --maktabati-components-button-solid-default-bg_color: #170F49;
        --maktabati-components-button-solid-green-text_color: #ffffff;
        --maktabati-components-button-solid-green-bg_color: #0D9488;
        --maktabati-components-button-solid-blue-text_color: #ffffff;
        --maktabati-components-button-solid-blue-bg_color: #170F49;
        --maktabati-components-button-outlined-default-text_color: #170F49;
        --maktabati-components-button-outlined-default-stroke_color: #170F49;
        --maktabati-components-button-outlined-green-text_color: #0D9488;
        --maktabati-components-button-outlined-green-stroke_color: #0D9488;
        --maktabati-components-button-outlined-blue-text_color: #170F49;
        --maktabati-components-button-outlined-blue-stroke_color: #170F49;
        --maktabati-components-button-link-default-text_color: #170F49;
        --maktabati-components-button-link-green-text_color: #0D9488;
        --maktabati-components-button-link-blue-text_color: #170F49;
        --maktabati-components-navigation-navbar-text_color: #ffffff;
        --maktabati-components-navigation-navbar-icon-buttons-icon_color: #ffffff;
        --maktabati-components-navigation-navbar-icon-buttons-bg_color: rgba(13, 148, 136, 0.2);
        --maktabati-components-navigation-nav_item-hover_color: #0D9488;
        --maktabati-components-navigation-nav_item-description_color: #99f6e4;
        --maktabati-components-navigation-nav_item-text: #6F6C90;
        --maktabati-components-navigation-nav_item-text_hover: #ffffff;
        --maktabati-components-navigation-nav_item-border: #e5e7eb;
        --maktabati-components-aspect_ratio_spacer_color: #f3f4f6;
        --maktabati-components-statistics_card-default-bg_color: rgba(243, 244, 246, 0.7);
        --maktabati-components-statistics_card-default-text_color: #6F6C90;
        --maktabati-components-statistics_card-green-bg_color: #0D9488;
        --maktabati-components-statistics_card-green-text_color: #ffffff;
        --maktabati-components-statistics_card-blue-bg_color: #170F49;
        --maktabati-components-statistics_card-blue-text_color: #ffffff;
        --maktabati-components-statistics_card-success-bg_color: #22c55e;
        --maktabati-components-statistics_card-success-text_color: #ffffff;
        --maktabati-components-statistics_card-error-bg_color: #ef4444;
        --maktabati-components-statistics_card-error-text_color: #ffffff;
        --maktabati-components-statistics_card-warning-bg_color: #f59e0b;
        --maktabati-components-statistics_card-warning-text_color: #ffffff;
        --maktabati-components-statistics_card-info-bg_color: #3b82f6;
        --maktabati-components-statistics_card-info-text_color: #ffffff;
        --maktabati-components-statistics_card-neutral-bg_color: #6F6C90;
        --maktabati-components-statistics_card-neutral-text_color: #ffffff;
        --maktabati-components-partner_card-bg_color: rgba(243, 244, 246, 0.7);
        --maktabati-components-partner_card-stroke_color: #e5e7eb;
        --maktabati-components-event-text_color: #ffffff;
        --maktabati-components-event-event_header-event_info-text_color: #6F6C90;
        --maktabati-components-event-event_header-event_info-bg_color: #f3f4f6;
        --maktabati-components-event-event_header-event_info-icon_color: #6F6C90;
        --maktabati-components-event-event_header-event_info-icon_bg_color: #e5e7eb;
        --maktabati-components-event-event_header-title_color: #170F49;
        --maktabati-components-event-event_header-description_color: #6F6C90;
        --maktabati-components-event-event_header-info_bg_color: rgba(243, 244, 246, 0.7);
        --maktabati-components-breadcrumb-default_color: #6F6C90;
        --maktabati-components-breadcrumb-hover_color: #170F49;
        --maktabati-components-breadcrumb-active_color: #0D9488;
        --maktabati-components-value_card-title_color: #170F49;
        --maktabati-components-value_card-description_color: #6F6C90;
        --maktabati-components-value_card-number_color: #ffffff;
        --maktabati-components-value_card-bg_color: #0D9488;
        --maktabati-components-footer-text: #6F6C90;
        --maktabati-components-footer-contact: #170F49;
    }

    :root[class~="dark"] {
        --maktabati-background-body: #121227;
        --maktabati-background-overlay_color: rgba(23, 15, 73, 0.1);
        --maktabati-text-title: #ffffff;
        --maktabati-text-normal_text: #e5e7eb;
        --maktabati-text-description: #d1d5db;
        --maktabati-text-invalid_color: #f87171;
        --maktabati-text-success_color: #4ade80;
        --maktabati-logo-primary: #14b8a6;
        --maktabati-logo-secondary: #a5b4fc;
        --maktabati-logo-neutral: #ffffff;
        --maktabati-border-border_color: #2d2a53;
        --maktabati-components-progress-progress_bar_color: #14b8a6;
        --maktabati-components-progress-progress_bg_active_color: #ffffff;
        --maktabati-components-progress-progress_bg_default_color: #6F6C90;
        --maktabati-components-film_roll_rectangle-bg_color: #1e1b4b;
        --maktabati-components-film_roll_rectangle-shadow_color: #2d2a53;
        --maktabati-components-button-solid-default-text_color: #170F49;
        --maktabati-components-button-solid-default-bg_color: #ffffff;
        --maktabati-components-button-solid-green-text_color: #121227;
        --maktabati-components-button-solid-green-bg_color: #14b8a6;
        --maktabati-components-button-solid-blue-text_color: #121227;
        --maktabati-components-button-solid-blue-bg_color: #a5b4fc;
        --maktabati-components-button-outlined-default-text_color: #ffffff;
        --maktabati-components-button-outlined-default-stroke_color: #ffffff;
        --maktabati-components-button-outlined-green-text_color: #14b8a6;
        --maktabati-components-button-outlined-green-stroke_color: #14b8a6;
        --maktabati-components-button-outlined-blue-text_color: #a5b4fc;
        --maktabati-components-button-outlined-blue-stroke_color: #a5b4fc;
        --maktabati-components-button-link-default-text_color: #ffffff;
        --maktabati-components-button-link-green-text_color: #14b8a6;
        --maktabati-components-button-link-blue-text_color: #a5b4fc;
        --maktabati-components-navigation-navbar-text_color: #ffffff;
        --maktabati-components-navigation-navbar-icon-buttons-icon_color: #ffffff;
        --maktabati-components-navigation-navbar-icon-buttons-bg_color: rgba(20, 184, 166, 0.2);
        --maktabati-components-navigation-nav_item-hover_color: #14b8a6;
        --maktabati-components-navigation-nav_item-description_color: #99f6e4;
        --maktabati-components-navigation-nav_item-text: #e5e7eb;
        --maktabati-components-navigation-nav_item-text_hover: #ffffff;
        --maktabati-components-navigation-nav_item-border: #2d2a53;
        --maktabati-components-aspect_ratio_spacer_color: #1e1b4b;
        --maktabati-components-statistics_card-default-bg_color: rgba(23, 15, 73, 0.3);
        --maktabati-components-statistics_card-default-text_color: #e5e7eb;
        --maktabati-components-statistics_card-green-bg_color: #14b8a6;
        --maktabati-components-statistics_card-green-text_color: #121227;
        --maktabati-components-statistics_card-blue-bg_color: #a5b4fc;
        --maktabati-components-statistics_card-blue-text_color: #121227;
        --maktabati-components-statistics_card-success-bg_color: #4ade80;
        --maktabati-components-statistics_card-success-text_color: #121227;
        --maktabati-components-statistics_card-error-bg_color: #f87171;
        --maktabati-components-statistics_card-error-text_color: #121227;
        --maktabati-components-statistics_card-warning-bg_color: #fbbf24;
        --maktabati-components-statistics_card-warning-text_color: #121227;
        --maktabati-components-statistics_card-info-bg_color: #60a5fa;
        --maktabati-components-statistics_card-info-text_color: #121227;
        --maktabati-components-statistics_card-neutral-bg_color: #a1a1aa;
        --maktabati-components-statistics_card-neutral-text_color: #121227;
        --maktabati-components-partner_card-bg_color: rgba(23, 15, 73, 0.3);
        --maktabati-components-partner_card-stroke_color: #2d2a53;
        --maktabati-components-event-text_color: #ffffff;
        --maktabati-components-event-event_header-event_info-text_color: #e5e7eb;
        --maktabati-components-event-event_header-event_info-bg_color: #1e1b4b;
        --maktabati-components-event-event_header-event_info-icon_color: #d1d5db;
        --maktabati-components-event-event_header-event_info-icon_bg_color: #2d2a53;
        --maktabati-components-event-event_header-title_color: #ffffff;
        --maktabati-components-event-event_header-description_color: #e5e7eb;
        --maktabati-components-event-event_header-info_bg_color: rgba(23, 15, 73, 0.3);
        --maktabati-components-breadcrumb-default_color: #a1a1aa;
        --maktabati-components-breadcrumb-hover_color: #ffffff;
        --maktabati-components-breadcrumb-active_color: #14b8a6;
        --maktabati-components-value_card-title_color: #ffffff;
        --maktabati-components-value_card-description_color: #e5e7eb;
        --maktabati-components-value_card-number_color: #121227;
        --maktabati-components-value_card-bg_color: #14b8a6;
        --maktabati-components-footer-text: #a1a1aa;
        --maktabati-components-footer-contact: #ffffff;
    }
}